<form method="post" action="/posts">
<p>Enter a Post Name:  <input type="text" name="name"></p>
<p>Enter the Posts Content:  <input type="text" name="content"></p>
<input id="submit" value="submit" type="submit">
</form>
