
<p> Name of Post: <%= @post.name %> </p>
<p> Body: <%= @post.content %> </p>

<form method="post" action="/posts/<%=@post.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input id="submit" type="submit" value="delete">
</form>
